services:
  - type: web
    name: yakuza-bot
    runtime: python3
    buildCommand: pip install -r "Yakuza bot/requirements.txt"
    startCommand: python "Yakuza bot/main.py"
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
